---
repos:
  - hooks:
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: destroyed-symlinks
      # - id: detect-aws-credentials
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - args:
          - '--maxkb=1024'
        id: check-added-large-files
      - args:
          - '--markdown-linebreak-ext=md'
        id: trailing-whitespace
      - id: check-symlinks
      - args:
          - '--allow-multiple-documents'
        id: check-yaml
      - args:
          - '--maxkb=1024'
        id: check-added-large-files
      - id: requirements-txt-fixer
      - id: check-ast
    repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
  - repo: https://github.com/netromdk/vermin
    rev: v1.8.0
    hooks:
      - id: vermin
        args: ['-t=3.13-', '--violations']
  - hooks:
      - args: [--application-directories, '.:src']
        id: reorder-python-imports
    repo: https://github.com/asottile/reorder_python_imports
    rev: v3.16.0
  - hooks:
      - args:
          - '--line-length=140'
          - '--include=''\.pyi?$'''
          - '--exclude=\.git|\.__pycache__|\.hg|\.mypy_cache|\.tox|\.venv|_build|buck-out|build|dist'
        id: black
        language_version: python3.13
    repo: https://github.com/psf/black
    rev: 25.11.0
  - hooks:
      - args:
        - --check-untyped-defs
        - --ignore-missing-imports
        - --install-types
        - --non-interactive
        - --strict
        id: mypy
    repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
